<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.mat.vmcheckout</string>
	<key>connections</key>
	<dict>
		<key>1889701D-1EA3-4290-8B14-A310F3561286</key>
		<array/>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>946AF645-25F4-49DC-B650-F52E9F1AFADA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8C3DC677-5864-4022-AD2E-3EBD4D77FCB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9ADDD8F-781D-4F6D-900E-B245E2852A22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ECE198BB-1AC9-47D3-868C-D939EB9BA90E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>946AF645-25F4-49DC-B650-F52E9F1AFADA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8990735D-08D8-4160-8A0F-0E26EFA886B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A9ADDD8F-781D-4F6D-900E-B245E2852A22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8990735D-08D8-4160-8A0F-0E26EFA886B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ECE198BB-1AC9-47D3-868C-D939EB9BA90E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2352FA69-2FE0-4804-A0F1-D5AB869030DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mat Brady</string>
	<key>description</key>
	<string>View and Checkout Available Threespot VMs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Virtual Machine Checkout</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>38</integer>
				<key>keyword</key>
				<string>claim</string>
				<key>runningsubtext</key>
				<string>Retrieving available vms ...</string>
				<key>script</key>
				<string>require_once('vms.php');

$vms = new VMS( "{query}" );

echo $vms-&gt;searchVmData("http://vm-checkout.threespot.dev/vm.php"); // "http://apps.threespot.com/vmcheckout/vm.php"</string>
				<key>subtext</key>
				<string>Search and Checkout Available Threespot VMs</string>
				<key>title</key>
				<string>Virtual Machine</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63F60794-BB56-4415-9372-BAF974C3A7E1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>reset</string>
				<key>script</key>
				<string></string>
				<key>subtext</key>
				<string>Reset Your Virtual Machine Checkout Name</string>
				<key>title</key>
				<string>Reset Name</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BC942E95-5DAD-41EC-B75E-0C4E7842DEE3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>VM-checkout</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8990735D-08D8-4160-8A0F-0E26EFA886B6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>vacate</string>
				<key>script</key>
				<string>include('vacate.php');

Wrapper( {query} ); </string>
				<key>subtext</key>
				<string>Sub Text</string>
				<key>title</key>
				<string>Vacate Threespot Virtual Machine</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1889701D-1EA3-4290-8B14-A310F3561286</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>38</integer>
				<key>keyword</key>
				<string>vm</string>
				<key>runningsubtext</key>
				<string>asdfasd</string>
				<key>script</key>
				<string>require_once('vmcheckout.php');
$VMC = new VMC();

echo $VMC::vmStepOne( "{query}" );</string>
				<key>subtext</key>
				<string>asdfasdfas</string>
				<key>title</key>
				<string>Connect to a Threespot Virtual Machine</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8C3DC677-5864-4022-AD2E-3EBD4D77FCB8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>require_once('vmcheckout.php');
$VMC = new VMC();

echo $VMC::vmStepTwo( "{query}", "setName" );
</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A9ADDD8F-781D-4F6D-900E-B245E2852A22</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>$vm = json_decode( "{query}" );

date_default_timezone_set('America/New_York');
$date = date("Y-m-d H:i:s");

$update_json = '{"id":"'.$vm-&gt;id.'","user":"'.$vm-&gt;name.'","checkout":"'.$date.'"}';

$chlead = curl_init();

// set URL and other appropriate options
$options = array(
	CURLOPT_URL =&gt; $vm-&gt;url,
  	CURLOPT_HTTPHEADER =&gt; array('Content-Type: application/json','Content-Length: ' . strlen($update_json) ),
  	CURLOPT_VERBOSE =&gt; 1,
  	CURLOPT_RETURNTRANSFER =&gt; true,
  	CURLOPT_CUSTOMREQUEST =&gt; "PUT",
  	CURLOPT_POSTFIELDS =&gt; $update_json,
  	CURLOPT_SSL_VERIFYPEER =&gt; 0,
);

curl_setopt_array($chlead, $options);

$chleadresult = curl_exec($chlead);
$chleadapierr = curl_errno($chlead);
$chleaderrmsg = curl_error($chlead);
curl_close($chlead);

if ( $chleadapierr === 1 ) {
  	echo $chleadapierr;
}
else if ( $chleaderrmsg === 1 ) {
	echo $chleaderrmsg;
}
else {
  echo 'You now own '.$vm-&gt;vm;
}</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>946AF645-25F4-49DC-B650-F52E9F1AFADA</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>set temp to "{query}"
if temp is "claim" then
	tell application "Alfred 2" to search "claim "
else if temp is "vacate" then 
	tell application "Alfred 2" to search "vacate "
else if temp is "resetName" then
	tell application "Alfred 2" to search "reset "
end if</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>2352FA69-2FE0-4804-A0F1-D5AB869030DC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>54</integer>
				<key>script</key>
				<string>require_once('vmcheckout.php');
$VMC = new VMC();

echo $VMC::vmStepTwo( "{query}", "getFunctions" );</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ECE198BB-1AC9-47D3-868C-D939EB9BA90E</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1889701D-1EA3-4290-8B14-A310F3561286</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>2352FA69-2FE0-4804-A0F1-D5AB869030DC</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>8990735D-08D8-4160-8A0F-0E26EFA886B6</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>8C3DC677-5864-4022-AD2E-3EBD4D77FCB8</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>946AF645-25F4-49DC-B650-F52E9F1AFADA</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>A9ADDD8F-781D-4F6D-900E-B245E2852A22</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>BC942E95-5DAD-41EC-B75E-0C4E7842DEE3</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>ECE198BB-1AC9-47D3-868C-D939EB9BA90E</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>m.atbrady.com</string>
</dict>
</plist>
