<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.mat.vmcheckout</string>
	<key>connections</key>
	<dict>
		<key>8C3DC677-5864-4022-AD2E-3EBD4D77FCB8</key>
		<array/>
		<key>A9ADDD8F-781D-4F6D-900E-B245E2852A22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8990735D-08D8-4160-8A0F-0E26EFA886B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ECE198BB-1AC9-47D3-868C-D939EB9BA90E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2352FA69-2FE0-4804-A0F1-D5AB869030DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mat Brady</string>
	<key>description</key>
	<string>View and Checkout Available Threespot VMs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Virtual Machine Checkout</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>VM-checkout</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8990735D-08D8-4160-8A0F-0E26EFA886B6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>54</integer>
				<key>script</key>
				<string>require_once('vmcheckout.php');
$VMC = new VMC();

echo $VMC::stepTwo( "{query}", false );</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ECE198BB-1AC9-47D3-868C-D939EB9BA90E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>38</integer>
				<key>keyword</key>
				<string>vm</string>
				<key>runningsubtext</key>
				<string>Trying to figure out what you want to do. . .</string>
				<key>script</key>
				<string>require_once('vmcheckout.php');

$VMC = new VMC();

echo $VMC-&gt;display_tasks( "{query}" ) ;</string>
				<key>subtext</key>
				<string>Claim and Vacate Threespot Virtual Machines</string>
				<key>title</key>
				<string>Threespot Virtual Machine Checkout</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8C3DC677-5864-4022-AD2E-3EBD4D77FCB8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>set temp to "{query}"
if temp is "claim" then
	tell application "Alfred 2" to search "claim "
else if temp is "vacate" then 
	tell application "Alfred 2" to search "vacate "
else if temp is "resetName" then
	tell application "Alfred 2" to search "reset "
else if temp is "clear" then
	tell application "Alfred 2" to search "clearvm"
end if</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>2352FA69-2FE0-4804-A0F1-D5AB869030DC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>require_once('vmcheckout.php');
$VMC = new VMC();

echo $VMC::stepTwo( "{query}", true );
</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A9ADDD8F-781D-4F6D-900E-B245E2852A22</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2352FA69-2FE0-4804-A0F1-D5AB869030DC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8990735D-08D8-4160-8A0F-0E26EFA886B6</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>8C3DC677-5864-4022-AD2E-3EBD4D77FCB8</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>A9ADDD8F-781D-4F6D-900E-B245E2852A22</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>ECE198BB-1AC9-47D3-868C-D939EB9BA90E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>m.atbrady.com</string>
</dict>
</plist>
