<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.mat.vmcheckout</string>
	<key>connections</key>
	<dict>
		<key>0946DC1D-D792-48DD-9969-CBAF864C72C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8990735D-08D8-4160-8A0F-0E26EFA886B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>14923BA6-787A-45BE-BAAB-4CFC5B22217D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65880ED7-7AA7-4322-A0DD-D721F7A569F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0946DC1D-D792-48DD-9969-CBAF864C72C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>18006E01-F660-485D-BE0B-6F3D08DB7202</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65880ED7-7AA7-4322-A0DD-D721F7A569F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>65880ED7-7AA7-4322-A0DD-D721F7A569F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8990735D-08D8-4160-8A0F-0E26EFA886B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8C3DC677-5864-4022-AD2E-3EBD4D77FCB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2352FA69-2FE0-4804-A0F1-D5AB869030DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9088C44D-E220-44C0-B316-C3EB507AAE4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8990735D-08D8-4160-8A0F-0E26EFA886B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D828191E-DFA7-4172-8AFC-F027A725DFC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65880ED7-7AA7-4322-A0DD-D721F7A569F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9088C44D-E220-44C0-B316-C3EB507AAE4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mat Brady</string>
	<key>description</key>
	<string>View and Checkout Available Threespot VMs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Virtual Machine Checkout</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>require_once('vmcheckout.php');

$VMC = new VMC();

echo $VMC-&gt;notify_user( "{query}" ) ;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>65880ED7-7AA7-4322-A0DD-D721F7A569F2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>require_once('vmcheckout.php');

$VMC = new VMC();

echo $VMC-&gt;claim_vm( "{query}" ) ;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9088C44D-E220-44C0-B316-C3EB507AAE4E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>require_once('vmcheckout.php');

$VMC = new VMC();

echo $VMC-&gt;vacate_vm( "{query}" ) ;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0946DC1D-D792-48DD-9969-CBAF864C72C3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>VM-checkout</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8990735D-08D8-4160-8A0F-0E26EFA886B6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>38</integer>
				<key>keyword</key>
				<string>vacate</string>
				<key>script</key>
				<string>require_once('vmcheckout.php');

$VMC = new VMC();

echo $VMC-&gt;request_vm_search( "vacate", "{query}" ) ;</string>
				<key>subtext</key>
				<string>Select a Virtual Machine to Vacate</string>
				<key>title</key>
				<string>Vacate Virtual Machine</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>14923BA6-787A-45BE-BAAB-4CFC5B22217D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>set temp to "{query}"
if temp is "claim" then
	tell application "Alfred 2" to search "claim "
else if temp is "vacate" then 
	tell application "Alfred 2" to search "vacate"
else if temp is "set" then
	tell application "Alfred 2" to search "set "
else if temp is "clear" then
	tell application "Alfred 2" to search "clearvm"
end if</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>2352FA69-2FE0-4804-A0F1-D5AB869030DC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>38</integer>
				<key>keyword</key>
				<string>vm</string>
				<key>runningsubtext</key>
				<string>Trying to figure out what you want to do. . .</string>
				<key>script</key>
				<string>require_once('vmcheckout.php');

$VMC = new VMC();

echo $VMC-&gt;display_tasks( "{query}" ) ;</string>
				<key>subtext</key>
				<string>Claim and Vacate Threespot Virtual Machines</string>
				<key>title</key>
				<string>Threespot Virtual Machine Checkout</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8C3DC677-5864-4022-AD2E-3EBD4D77FCB8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>38</integer>
				<key>keyword</key>
				<string>claim</string>
				<key>runningsubtext</key>
				<string>Requesting Available VMs, please wait . . .</string>
				<key>script</key>
				<string>require_once('vmcheckout.php');

$VMC = new VMC();

echo $VMC-&gt;request_vm_search( "claim", "{query}" ) ;</string>
				<key>subtext</key>
				<string>Search Available VMs to Claim</string>
				<key>title</key>
				<string>Claim Virtual Machine</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D828191E-DFA7-4172-8AFC-F027A725DFC8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>38</integer>
				<key>keyword</key>
				<string>set</string>
				<key>runningsubtext</key>
				<string>Hold on a minute, we're thinking</string>
				<key>script</key>
				<string>require_once('vmcheckout.php');

$VMC = new VMC();

echo $VMC-&gt;request_name_change( "{query}" ) ;</string>
				<key>subtext</key>
				<string>Change Your Virtual Machine Checkout Name</string>
				<key>title</key>
				<string>Reset Virtual Checkout Name</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>18006E01-F660-485D-BE0B-6F3D08DB7202</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0946DC1D-D792-48DD-9969-CBAF864C72C3</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>14923BA6-787A-45BE-BAAB-4CFC5B22217D</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>18006E01-F660-485D-BE0B-6F3D08DB7202</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>2352FA69-2FE0-4804-A0F1-D5AB869030DC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>65880ED7-7AA7-4322-A0DD-D721F7A569F2</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>8990735D-08D8-4160-8A0F-0E26EFA886B6</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>8C3DC677-5864-4022-AD2E-3EBD4D77FCB8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9088C44D-E220-44C0-B316-C3EB507AAE4E</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>D828191E-DFA7-4172-8AFC-F027A725DFC8</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>m.atbrady.com</string>
</dict>
</plist>
